.titulo{
    display: flex;
    justify-content: center;
}.BotonVerAmigos{
    display: flex;
    justify-content: center;
}.buscar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.camposDeInsercion{
    margin-top: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Botones{
    height: fit-content;
    width: 60px;
    margin-left: 4px;
    padding: 6px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(101, 219, 124)
}
